#define ALPHAS 0
#define DIGITS 1
#define SYMBLS 2
#define FUNCTS 3
#define SCROLL 4
#define LOWDPI 5
#define M_BTNS 6

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
//#include <input/processors.dtsi>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&sk {
   release-after-ms = <2000>;
   quick-release;
   lazy;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {

    behaviors {

    };

    combos {
        compatible = "zmk,combos";
        combo_mouse_middle_click {
            timeout-ms = <100>;
            key-positions = <36 37>;
            layers = <ALPHAS SYMBLS FUNCTS SCROLL LOWDPI>; //todo: change to space+enter = tab
            bindings = <&mkp MB3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

// ------------------------------------------------------------------------------------------------------------------------------ EMPTY LAYER TEMPLATES FOR COPY-PASTE -----------------------------------------------------------------------------------------------------------------------------
//
// &trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
// &trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
// &trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
//                                             &trans                &trans                &trans                &trans                &trans                &trans                &trans                                                                                  &trans
//
// &none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
// &none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
// &none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
//                                             &none                 &none                 &none                 &none                 &none                 &none                 &none                                                                                   &none
//
// &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X
// &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X
// &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X
//                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                                                   &kp X

// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER ALPHAS ------------------------------------------------------------------------------------------------------------------------------------------
        default_layer {
            label = "ALPHAS";
            bindings = <
&kp DEL               &kp G                 &kp V                 &kp D                 &kp F                 &kp J                                                             &kp Q                 &kp R                 &kp U                 &kp O                 &kp Y                 &kp BACKSPACE
&sk LALT              &kp C                 &kp S                 &kp T                 &kp H                 &kp APOS                                                          &kp L                 &kp N                 &kp E                 &kp A                 &kp I                 &kp SEMI
&sk LCTRL             &kp W                 &kp B                 &kp M                 &kp P                 &kp K                                                             &kp Z                 &kp X                 &kp COMMA             &kp DOT               &kp QMARK             &kp EXCL
                                            &mo LOWDPI            &mo SCROLL            &lt FUNCTS UNDER      &mo DIGITS            &sk LSHFT             &kp SPACE             &kp ENTER                                                                               &mo M_BTNS
            >;
        };
// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER DIGITS ------------------------------------------------------------------------------------------------------------------------------------------
        number_layer {
            label = "DIGITS";
            bindings = <
&to SYMB              &kp CARET             &kp N7                &kp N8                &kp N9                &kp KP_MULTIPLY                                                   &kp KP_PLUS           &kp HOME              &kp UP                &kp END               &kp PG_UP             &kp BACKSPACE
&kp CAPS              &kp BSLH              &kp N4                &kp N5                &kp N6                &kp KP_DIVIDE                                                     &kp KP_MINUS          &kp LEFT              &kp DOWN              &kp RIGHT             &kp PG_DN             &kp GRAVE
&kp INS               &kp N0                &kp N1                &kp N2                &kp N3                &kp DOT                                                           &kp COMMA             &kp K_VOL_DN          &kp EQUAL             &kp K_VOL_UP          &kp LGUI              &kp ESC
                                            &kp LPAR              &kp RPAR              &kp UNDER             &trans                &kp LSHFT             &kp SPACE             &kp ENTER                                                                               &mo M_BTNS
            >;
        };
// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER SYMBLS ------------------------------------------------------------------------------------------------------------------------------------------
        symbol_layer {
            label = "SYMBLS";
            bindings = <
&to ALPHA             &none                 &kp HOME              &kp UP                &kp END               &kp LBRC                                                          &kp RBRC              &kp KP_DIVIDE         &kp KP_MULTIPLY       &kp HASH              &kp CARET             &kp BACKSPACE
&none                 &none                 &kp LEFT              &kp DOWN              &kp RIGHT             &kp LBKT                                                          &kp RBKT              &kp EXCL              &kp KP_MINUS          &kp QMARK             &kp PIPE              &kp SEMI
&none                 &none                 &kp GRAVE             &kp APOS              &kp LS(APOS)          &kp LPAR                                                          &kp RPAR              &kp LT                &kp EQUAL             &kp GT                &kp AMPS              &kp LS(GRAVE)
                                            &trans                &trans                &kp UNDER             &mo DIGITS            &kp LSHFT             &kp SPACE             &kp ENTER                                                                               &mo M_BTNS
            >;
        };
// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER FUNCTS ------------------------------------------------------------------------------------------------------------------------------------------
        function_layer {
            label = "FUNCTS";
            bindings = <
&sk LSHFT             &kp F12               &kp F7                &kp F8                &kp F9                &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&sk LALT              &kp F11               &kp F4                &kp F5                &kp F6                &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&sk LCTRL             &kp F10               &kp F1                &kp F2                &kp F3                &none                                                             &none                 &none                 &none                 &none                 &none                 &none
                                            &trans                &trans                &none                 &none                 &none                 &none                 &none                                                                                   &none
            >;
        };
// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER SCROLL ------------------------------------------------------------------------------------------------------------------------------------------
        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
&trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
&trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
                                            &trans                &trans                &trans                &trans                &trans                &trans                &trans                                                                                  &trans
            >;
        };
// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER LOWDPI ------------------------------------------------------------------------------------------------------------------------------------------
        snipe_layer {
            label = "LOWDPI";
            bindings = <
&trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
&trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
&trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
                                            &trans                &trans                &trans                &trans                &trans                &trans                &trans                                                                                  &trans
            >;
        };
// ----------------------------------------------------------------------------------------------------------------------------------------- LAYER M_BTNS ------------------------------------------------------------------------------------------------------------------------------------------
        mouse_button_layer {
            label = "M_BTNS";
            bindings = <
&sk LSHFT             &none                 &kp HOME              &kp UP                &kp END               &kp PG_UP                                                         &none                 &none                 &none                 &none                 &none                 &none
&sk LALT              &none                 &kp LEFT              &kp DOWN              &kp RIGHT             &kp PG_DN                                                         &none                 &mkp MB4              &mkp MB5              &none                 &none                 &none
&sk LCTRL             &none                 &none                 &none                 &none                 &none                                                             &kp BACKSPACE         &mkp MB1              &mkp MB2              &mkp MB3              &none                 &none
                                            &mo LOWDPI            &mo SCROLL            &none                 &none                 &sk LSHFT             &kp SPACE             &kp ENTER                                                                               &trans
            >;
        };
    };
};
