#define ALPHA  0
#define NUM    1
#define SYMB   2
#define FUNC   3
#define FUNC10 4
#define FUNC20 5
#define SCROLL 6
#define SNIPE  7

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {

// empty layer templates for copy-paste:
//
// &trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
// &trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
// &trans                &trans                &trans                &trans                &trans                &trans                                                            &trans                &trans                &trans                &trans                &trans                &trans
//                                             &trans                &trans                &trans                &trans                &trans                &trans                &trans                                                                                  &trans
//
// &none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
// &none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
// &none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
//                                             &none                 &none                 &none                 &none                 &none                 &none                 &none                                                                                   &none
//
// &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X
// &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X
// &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X
//                                             &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                 &kp X                                                                                   &kp X
        compatible = "zmk,keymap";

        default_layer {
            label = "ALPHA";
            bindings = <
&kp DEL               &kp G                 &kp V                 &kp D                 &kp F                 &kp J                                                             &kp Q                 &kp R                 &kp U                 &kp O                 &kp Y                 &kp BACKSPACE
&kp LALT              &kp C                 &kp S                 &kp T                 &kp H                 &lt SCROLL APOS                                                   &kp L                 &kp N                 &kp E                 &kp A                 &kp I                 &kp SEMI
&kp LCTRL             &kp W                 &kp B                 &kp M                 &kp P                 &kp K                                                             &kp Z                 &kp X                 &kp COMMA             &kp DOT               &kp QMARK             &kp EXCL
                                            &mkp LCLK             &mkp RCLK             &lt SNIPE UNDER       &mo NUM               &kp LSHFT             &kp SPACE             &kp ENTER                                                                               &lt FUNC TAB
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&mo SYMB              &kp CARET             &kp N7                &kp N8                &kp N9                &kp KP_MULTIPLY                                                   &kp KP_PLUS           &kp HOME              &kp UP                &kp END               &kp PG_UP             &kp BACKSPACE
&kp CAPS              &kp BSLH              &kp N4                &kp N5                &kp N6                &kp KP_DIVIDE                                                     &kp KP_MINUS          &kp LEFT              &kp DOWN              &kp RIGHT             &kp PG_DN             &kp GRAVE
&kp LCTRL             &kp N0                &kp N1                &kp N2                &kp N3                &kp LPAR                                                          &kp RPAR              &kp K_VOL_DN          &kp EQUAL             &kp K_VOL_UP          &kp LGUI              &kp ESC
                                            &kp COMMA             &kp DOT               &kp LBKT              &trans                &kp LSHFT             &kp SPACE             &kp ENTER                                                                               &kp TAB
            >;
        };

        symbol_layer {
            label = "SYMB";
            bindings = <
&trans                &none                 &none                 &none                 &none                 &kp LBRC                                                          &kp RBRC              &KP_DIVIDE            &kp KP_MULTIPLY       &kp HASH              &kp CARET             &kp BACKSPACE
&none                 &none                 &none                 &none                 &none                 &kp LBKT                                                          &kp LBRC              &kp EXCL              &kp KP_MINUS          &kp QMARK             &kp PIPE              &none
&none                 &none                 &none                 &none                 &none                 &kp LPAR                                                          &kp LPAR              &kp LT                &kp EQUAL             &kp GT                &kp AMPS              &none
                                            &none                 &none                 &none                 &none                 &none                 &kp SPACE             &kp ENTER                                                                               &kp TAB
            >;
        };

        function_layer {
            label = "FUNC";
            bindings = <
&none                 &none                 &kp F7                &kp F8                &kp F9                &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &kp F4                &kp F5                &kp F6                &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &kp F1                &kp F2                &kp F3                &none                                                             &none                 &none                 &none                 &none                 &none                 &none
                                            &none                 &none                 &mo FUNC20            &mo FUNC10            &kp LSHFT             &kp LCTRL             &kp LALT                                                                                &trans
            >;
        };

        function_layer_10 {
            label = "FUNC10";
            bindings = <
&none                 &none                 &kp F17               &kp F18               &kp F19               &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &kp F14               &kp F15               &kp F16               &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &kp F10               &kp F11               &kp F12               &kp F13               &none                                                             &none                 &none                 &none                 &none                 &none                 &none
                                            &none                 &none                 &none                 &trans                &kp LSHFT             &kp LCTRL             &kp LALT                                                                                &trans
            >;
        };

        function_layer_20 {
            label = "FUNC20";
            bindings = <
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &kp F24               &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &kp F20               &kp F21               &kp F22               &kp F23               &none                                                             &none                 &none                 &none                 &none                 &none                 &none
                                            &none                 &none                 &trans                &none                 &kp LSHFT             &kp LCTRL             &kp LALT                                                                                &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
                                            &none                 &none                 &none                 &none                 &none                 &none                 &none                                                                                   &none
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
&none                 &none                 &none                 &none                 &none                 &none                                                             &none                 &none                 &none                 &none                 &none                 &none
                                            &none                 &none                 &none                 &none                 &none                 &none                 &none                                                                                   &none
            >;
        };
    };
};
